@media screen {
    * {
        font-family: sans-serif;
        z-index: 10;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

#mainheader {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    min-width: 200px;
    width: 90%;
    height: auto;
    background-color: #e6e6e6;
    margin: 0 auto;
}

.mainsection {
    /*samleboks for de øverste artikklene på siden*/
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    background-color: #d9d9d9;
    margin: 0 auto;
    margin-bottom: 2em;
}

.produktsection {
    /*samleboks for alle produktboksene*/
    padding: 1em 0em 1em 0em;
    align-items: stretch;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    background-color: #d9d9d9;
    margin: 0 auto;
    margin-bottom: 2em;
}

h3 {
    width: 100%;
    text-transform: uppercase;
    align-self: stretch;
    padding: 0.5em 0.1em 0.5em 0.1em;
    color: white;
    text-align: center;
    background: #999999;
    margin: 0;
}

.mainarticle {
    /*Øverste artikkel på siden */
    margin-top: 0.5em;
    width: 80%;
    min-width: 17em;
    max-width: 80em;
}

.produktarticle {
    /*Alle produktbokser*/
    margin-top: 0.5em;
    width: 20%;
    max-width: 28em;
    min-width: 17em;
    border-radius: 5px;
    outline: 2px auto #cccccc;
    background-color: #e6e6e6;
    transition: box-shadow 0.5s;
}

#logo {
    height: 15em;
}

#logoliten {
    max-width: 10rem;
    width: 10%;
    margin-bottom: -10em;
    min-width: 5rem;
}

.bilde {
    display: flex;
    max-width: 20rem;
    width: 10%;
    min-width: 10rem;
    margin: auto;
}

nav {
    display: flex;
    background: #999999;
    padding: 0.01em;
    margin-bottom: 1em;
    height: 5em;
}

nav ul {
    display: none;
    min-width: 200px;
    width: 90%;
    padding: 0% 5% 0% 5%;
}

nav ul li {
    display: inline;
    list-style: none;
    background-color: #737373;
    color: white;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    transition: box-shadow 0.2s;
    text-transform: uppercase;
}

nav ul li:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
}

nav ul li a {
    color: white;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1em;
    min-width: 200px;
    width: 90%;
    height: 10em;
    background-color: #e6e6e6;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    outline: 2px auto #cccccc;
    margin: 0 auto;
}


/* Media query for mobiler */

@media (max-width: 768px) {
    .mobilnav {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .mobilnav li {
        border-radius: 2px 2px 0px 0px;
    }
    .pcnav {
        display: none;
    }
}

@media (min-width: 768px) {
    .pcnav {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }
    #handlekurvpc {
        display: flex;
        justify-content: flex-end;
    }
    .mobilnav {
        display: none;
    }
    .produktarticle:hover {
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    }
}


}
