/* Her kommer CSS */
body{
	position:relative;
	width:50%;
	height:50%;
	margin: 0 auto;
	background-image:url(../bilder/bckSS.jpg)
}
header, nav, main, footer{
	display:block;
}

nav, main, footer{
	display:block;
	background-color:white;
}

header{
	text-align:center;
}

nav{
	display:block;
	border-style:solid;
	border-radius:20px;
}

nav ul{
	display:inline-block;
	list-style-type:none;
}

nav ul li{
	margin:0 auto;
	display:inline-block;
	padding:10px;
}

nav ul li a{
	text-decoration:none;
}

main{
	border-style:solid;
	border-radius:10px;
	padding:10px;
	margin:10px;
}

footer{
	border-style:solid;
	border-radius:10px;
	padding:10px;
	margin:10px;
}
/* Media query for mobiler */
@media (min-width: 320px) {

}

/* Media query for tablets */
@media (min-width: 768px) {

}

/* Media query for laptoper */
@media (min-width: 1024px) {

}

/* Media query for store skjermer */
@media (min-width: 1920px) {

}