/* Her kommer CSS */

/* Media query for mobiler */
@media (min-width: 200px) {
	body{
	background-image:url(../bilder/bckSS.jpg)
	}
	nav{
		display:none;
	}
	.hamburgermeny{
		display:inline-block;
		cursor:pointer;
		position:relative;
		left:4%;
	}
	
	.del1, .del2, .del3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

	.hamburgermeny:hover{
		display:inline-block;
		cursor:pointer;
}

	header, main, footer{
	display:block;
}

main, footer{
	display:block;
	background-color:white;
	margin:10px;
	border-radius:10px;
	padding: 10px;
}

header{
	text-align:center;
	color:white;
}

	
}
@media (min-width: 400px) {
	.hamburgermeny {
		display:none;
	}
}
/* Media query for tablets */
@media (min-width: 768px) {
	body{
	position:relative;
	width:50%;
	height:50%;
	margin: 0 auto;
	background-image:url(../bilder/bckSS.jpg)
}
header, nav, main, footer{
	display:block;
}

nav, main, footer{
	display:block;
	background-color:white;
}

header{
	text-align:center;
}

nav{
	display:block;
	border-style:solid;
	border-radius:20px;
}

nav ul{
	display:inline-block;
	list-style-type:none;
}

nav ul li{
	margin:0 auto;
	display:inline-block;
	padding:10px;
}

nav ul li a{
	text-decoration:none;
}

main{
	border-style:solid;
	border-radius:10px;
	padding:10px;
	margin:10px;
}

footer{
	border-style:solid;
	border-radius:10px;
	padding:10px;
	margin:10px;
}
}

/* Media query for laptoper */
@media (min-width: 1024px) {
	body{
	position:relative;
	width:50%;
	height:50%;
	margin: 0 auto;
	background-image:url(../bilder/bckSS.jpg)
}
header, nav, main, footer{
	display:block;
}

nav, main, footer{
	display:block;
	background-color:white;
}

header{
	text-align:center;
}

nav{
	display:block;
	border-style:solid;
	border-radius:20px;
}

nav ul{
	display:inline-block;
	list-style-type:none;
}

nav ul li{
	margin:0 auto;
	display:inline-block;
	padding:10px;
}

nav ul li a{
	text-decoration:none;
}

main{
	border-style:solid;
	border-radius:10px;
	padding:10px;
	margin:10px;
}

footer{
	border-style:solid;
	border-radius:10px;
	padding:10px;
	margin:10px;
}
}

/* Media query for store skjermer */
@media (min-width: 1920px) {

}